html{
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #fff;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body{
    padding-top: 40px;
    background-image: linear-gradient(135deg, #4b57b3 0%, #23849a 100%);
    min-height: 100vh;
}

small a{
    color: inherit;
}


.uk-container-small{
    max-width: 700px;
}

.uk-tab > .uk-active > a{
    font-weight: bold;
}


/* Loader */
.loading-wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.5);
}
.loading-wrap .loading-indocator{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.loading-wrap .loading-indocator svg{
    width: 50px;
    height: 50px;
}
.loading-wrap .loading-indocator .uk-icon [stroke*='#']:not(.uk-preserve){
    stroke: #1e87f0
}



.tag-wrap{
    border: 1px solid #e5e5e5;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.tags-input{
    width: 96%;
    box-shadow: none;
    border-radius: 0px;
    border-color: transparent;
    padding: 5px;
}




form{
    background-color: #f9f9f9;
}
.uk-fieldset{
    padding: 25px;
}

.uk-legend{
    background-color: #1089f5;
    color: #fff;
    padding: 25px;
    position: relative;
    margin-left: -25px;
    margin-right: -25px;
    display: block;
    width: 100%;
}

form input.uk-input,
form textarea.uk-textarea,
form .tags-input{
    background: transparent;
}