<!DOCTYPE html>
<html>
<head>
	<title>Email App</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="vendors/uikit/css/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="vendors/tags-input/tags-input.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- Scripts -->
	<script type="text/javascript" src="vendors/jquery.min.js"></script>
	<script type="text/javascript" src="vendors/uikit/js/uikit.min.js"></script>
	<script type="text/javascript" src="vendors/tags-input/tags-input.min.js"></script>
	<script type="text/javascript" src="vendors/angular.min.js"></script>
</head>
<body>

	<div class="container" ng-app="appEmail">

		<div class="uk-container uk-container-small">
			<form ng-submit="formSubmit()" ng-controller="emailFormCtrl">
			    <fieldset class="uk-fieldset">

			        <legend class="uk-legend">Single Page Web App Challenge #2</legend>

			        <div uk-alert ng-class="alert.class" ng-show="alert.show">
				    	<!-- <a class="uk-alert-close" uk-close></a> -->
				    	<p>{{alert.message}}</p>
					</div>

			        <div class="uk-margin uk-margin-small">
			            <label class="uk-form-label" for="form-stacked-select">To</label>
				        <div class="uk-form-controls">
				            <div class="tag-wrap">
				            	<input class="uk-input" type="tags" ng-model="email_to">
				            </div>
				        </div>
			        </div>

			        <div class="uk-margin uk-margin-small">
			            <label class="uk-form-label" for="form-stacked-select">Cc</label>
				        <div class="uk-form-controls">
				        	<div class="tag-wrap">
				            	<input class="uk-input" type="tags" ng-model="email_cc">
			            	</div>
				        </div>
			        </div>

			        <div class="uk-margin uk-margin-small">
			            <label class="uk-form-label" for="form-stacked-select">Bcc</label>
				        <div class="uk-form-controls">
				        	<div class="tag-wrap">
				            	<input class="uk-input" type="tags" ng-model="email_bcc">
			            	</div>
				        </div>
			        </div>

			        <div class="uk-margin uk-margin-small">
			            <label class="uk-form-label" for="form-stacked-select">Subject</label>
				        <div class="uk-form-controls">
				            <input class="uk-input" type="text" ng-model="subject">
				        </div>
			        </div>

			        <div class="uk-margin">
			            <textarea class="uk-textarea" rows="5" placeholder="Message" ng-model="message"></textarea>
			        </div>

			        <div class="uk-margin">
			        	<button type="submit" class="uk-button uk-button-primary">Send</button>
			        </div>

			    </fieldset>

			    <div class="loading-wrap" ng-show="loading">
					<div class="loading-indocator">
						<div uk-spinner></div>
					</div>
				</div>
			</form>
		</div>

	</div>

	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controller.js"></script>
	
</body>
</html>